services:
  db:
    container_name: oficina
    image: postgres:15
    env_file:
    - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    
    ports: 
      - 5432:5432

volumes:
  pgdata: {}
